<div class="w-100 card-item my-4 rounded d-flex px-4 py-4 align-items-center">
    <div class="col-auto d-flex flex-grow-1">
        <h3 class="h3">Sensor {{status}}</h3>
    </div>
    <div class="col-auto d-flex">
        <a [ngClass]="status === 'Suhu' ? 'underline' : 'normal'" class="me-4" (click)="navigate1()">Suhu</a>
        <a [ngClass]="status === 'pH' ? 'underline' : 'normal'" class="me-4" (click)="navigate2()">pH</a>
        <a [ngClass]="status === 'Salinitas' ? 'underline' : 'normal'" class="me-4" (click)="navigate3()">Salinitas</a>
        <a [ngClass]="status === 'Kekeruhan' ? 'underline' : 'normal'" class="me-4" (click)="navigate4()">Kekeruhan</a>
    </div>
</div>