<div class="bg-image" style="background-image: url(background_main.jpg); height: 100vh;">

    <div class="d-flex flex-column justify-content-center align-items-center vh-100 vw-25">
        <h1 class="h1 text-white">Selamat Datang!</h1>
        <p class="text-white">Silahkan login dengan username/email dan password anda</p>

        <div class="input-group mt-4 w-25 border-0">
            <span class="input-group-text border-end-0 bg-transparent text-white input-transparent" id="basic-addon1">&#64;</span>
            <input type="text" class="form-control border-start-0 bg-transparent input-transparent" placeholder="Username/Email" [(ngModel)]="username"/>
        </div>

        <div class="input-group mt-3 w-25 border-0">
            <span class="input-group-text border-end-0 bg-transparent input-transparent" id="basic-addon1">
                <i class="bi bi-lock text-white"></i>
            </span>
            <input type="password" id="typePassword" class="form-control border-start-0 border-end-0 bg-transparent input-transparent" placeholder="Password" [(ngModel)]="password" [type]="isPasswordVisible ? 'text' : 'password'" />
            <button class="btn border-start-0 btn-transparent" (click)="togglePasswordVisibility()" type="button">
                <i class="bi border-start-0 text-white" [ngClass]="isPasswordVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
        </div>

        <button class="btn mt-3 w-25 btn-primary text-white" (click)="onSubmit()">Login</button>
        <p class="text-danger" *ngIf="isErrorVisible">{{ errorText }}</p>

        <button class="btn btn-transparent border-0 text-white mt-3 text-decoration-underline" (click)="openDialog()">lupa password?</button>

    </div>

</div>
