.card-item {
    width: 100%;
    background-color: rgba(217, 220, 214, 0.5);
}

.fill {
    background-color: #16425B;
    color: white;
}

td, th {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    border: 1px solid #ddd;
}