<div class="my-4 px-4 w-100 d-flex flex-column align-items-center" *ngIf="!changePasswordStatus">
    <div class="w-100 d-flex">
        <h4 class="h4 w-50 flex-fill">Ubah Password</h4>
        <button class="btn bbtn-sm btn-danger" (click)="onCancel()"><i class="bi bi-x"></i></button>
    </div>
    <div class="w-100 d-flex flex-row align-items-center mt-4">
        <div class="input-group border-0 w-75 me-4">
            <span class="input-group-text border-end-0 bg-transparent text-black input-transparent" id="basic-addon1">&#64;</span>
            <input type="text" class="form-control border-start-0 bg-transparent input-transparent" placeholder="Email" [(ngModel)]="email" [readonly]="isEmailSent"/>
        </div>
        <button class="btn w-25 btn-sm btn-info text-white" (click)="requestOTP()">Kirim kode OTP</button>
    </div>
    <div class="w-100 mb-4">
        <p class="text-black text-sm mt-3" *ngIf="isEmailSent">Kode OTP telah dikirim ke email Anda.</p>
    </div>
    
    <h6 class="h6 mt-4">kode OTP</h6>
    <ng-otp-input 
    [config]="{length: 4, allowNumbersOnly: true }" 
    #ngOtpInput>
    </ng-otp-input>
    <button class="btn w-50 btn-info text-white mt-4" (click)="submitOTP()">Kirim OTP</button>
</div>

<div class="my-4 px-4 w-100 d-flex flex-column align-items-center" *ngIf="changePasswordStatus">
    <h4 class="h4">Password baru</h4>
    <div class="input-group w-75">
        <input type="password" id="typePassword" class="form-control border-end-0 bg-transparent input-transparent" placeholder="Password" [(ngModel)]="password" [type]="isPasswordVisible ? 'text' : 'password'" />
        <button class="btn border-start-0 btn-transparent" (click)="togglePasswordVisibility()" type="button">
            <i class="bi border-start-0 text-black" [ngClass]="isPasswordVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
        </button>
    </div>
    <button class="btn w-50 btn-info text-white mt-4" (click)="changePassword()">Ubah Password</button>
</div>