.section {
    width: 100%;
}

.list-monitoring {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
    justify-content: space-between;
}

app-monitoring-item {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
    height: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
}