.form-switch.form-switch-lg .form-check-input {
    height: 1.8rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
    }

a {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.form-check-input:disabled {
    opacity: 1;
    pointer-events: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus, textarea:focus, select:focus {
    outline: none; 
    box-shadow: none;
  }