.fill-side-bar {
    background: #16425B33;
}

.sticky-item {
    position: sticky;
    align-items: start;
    top: 0;
    z-index: 1000;
}

.fill-primary {
    background: #16425B; 
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}