<div class="container-fluid fill-primary g0 vh-100">
    <div class="row h-100">
        <div class="col-md-2 fill-side-bar g-0">
            <div class="d-flex flex-column h-100 justify-content-center g-0">
                <div class="d-flex flex-column justify-content-center">
                    <img src="Group 5.png" class="w-50 mx-auto">
                    <p class="mx-auto" style="font-size: x-large; color: white; text-align: center;"><strong>Sadewa<br>Farm</strong></p>
                </div>
                <div class="flex-fill w-100">
                    <div class="d-flex w-100 flex-column">
                        <button class="btn-invisible d-flex px-3 py-3">
                            <i class="bi bi-columns-gap ms-5 me-4" routerLink="monitoring"></i><strong>Monitoring</strong>
                        </button>
    
                        <button class="btn-invisible d-flex px-3 py-3"  routerLink="sensor">
                            <i class="bi-soundwave ms-5 me-4"></i><strong>Sensor</strong>
                        </button>

                        <button class="btn-invisible d-flex px-3 py-3">
                            <i class="bi-gear-wide-connected ms-5 me-4"></i><strong>Alat</strong>
                        </button>

                        <button class="btn-invisible d-flex px-3 py-3">
                            <i class="bi-clock-history ms-5 me-4"></i><strong>Riwayat</strong>
                        </button>

                        <button class="btn-invisible d-flex px-3 py-3">
                            <i class="bi-bell ms-5 me-4"></i><strong>Notifikasi</strong>
                        </button>
                    </div>
                </div>
                <div class="d-flex flex-column w-100 justify-content-center">
                        <button class="btn-invisible align-self-baseline w-100 d-flex px-3 py-4">
                            <i class="bi-box-arrow-left ms-5 me-4"></i> <strong>Keluar</strong>
                        </button>
                </div>
            </div>
        </div>
        <div class="col-md vh-100 d-flex flex-column">
            <div class="row d-flex flex-column">
                <div class="d-flex my-3 ms-2 flex-column"> 
                    <h2 class="h2 text-white">{{ time }}</h2>
                    <h6 class="h6 text-white"> {{ date }}</h6>
                </div>

                <div>
                    aaaaaaa
                </div>
            </div>
            <div class="row flex-fill">
                <div class="">
                    <section class="content">
                        <router-outlet></router-outlet>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
